<div class="mb-4 grid grid-cols-1 gap-6 xl:grid-cols-2">
  <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md overflow-hidden xl:col-span-2">
    <div class="relative bg-clip-border rounded-xl overflow-hidden bg-transparent text-gray-700 shadow-none m-0 flex items-center justify-between p-6">
      <div>
        <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900 mb-1">Posts</h6>
        <p class="antialiased font-sans text-sm leading-normal flex items-center gap-1 font-normal text-blue-gray-600">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" aria-hidden="true" class="h-4 w-4 text-blue-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
          </svg>
          <strong>{{ postCount }} posts</strong> este mes
        </p>
      </div>

      <input
        type="text"
        [(ngModel)]="categoriaBusqueda"
        (input)="filtrarPorCategoria()"
        placeholder="Escriba para filtrar por categoría"
        class="block w-56 rounded-md border-0 py-1.5 text-sm text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600">

    </div>

    <!-- Tabla de posts -->
    <div class="p-6 overflow-x-scroll px-0 pt-0 pb-2">
      <table class="w-full min-w-[640px] table-auto">
        <thead>
          <tr>
            <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
              <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">temas</p>
            </th>
            <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
              <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">Categoría</p>
            </th>
            <th class="border-b border-blue-gray-50 py-3 px-6 text-left">
              <p class="block antialiased font-sans text-[11px] font-medium uppercase text-blue-gray-400">acciones</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- Iteramos sobre los posts -->
          <tr *ngFor="let post of postsFiltrados">
            <td class="py-3 px-5 border-b border-blue-gray-50">
              <div class="flex items-center gap-4">
                <p class="block antialiased font-sans text-sm leading-normal text-blue-gray-900 font-bold">{{ post.title }}</p>
              </div>
            </td>
            <td class="py-3 px-5 border-b border-blue-gray-50">
              <p class="block antialiased font-sans text-xs font-medium text-blue-gray-600">{{ post.category_name }}</p>
            </td>
            <td class="py-3 px-5 border-b border-blue-gray-50">
              <div class="w-10/12">
                <button class="text-blue-500 hover:text-blue-700">Ver</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
